th {
	text-align: center !important;
	font-size: large !important;
}

table {
    border: 1px solid #353535 !important;
    border-collapse: collapse !important;
    width:100% !important;
}

table td {
    border: 1px solid #353535 !important;
	padding-right: 8px !important;
	padding-left: 8px !important;
}

table td.shrink {
    white-space:nowrap !important;
}
table td.expand {
    width: 99% !important;
}
#banner {

    display: none !important;

}